

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0d2433;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
}
.left-nav{
    display: flex;
    align-items: center;
    gap:35px;
}
.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 20px;
    color: #e6e6e6;
}
.logo span{
    margin-left: 25px;
}






body {
    font-family: Arial, sans-serif;
    background-color: #040a47;
    color: #fff;
    margin: 0;
    padding: 0;
}
section {
    margin-left: 3pc;
}
.brilliant h1{
    color: white;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.brilliant .highlight{
    color: #fff;
    margin-left: 9pc;
}


.card {
    width: 350px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.card-container {
    display:grid;
    grid-template-columns: 300px 300px 300px;
    gap:70px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;

    color: white;

    background: linear-gradient(
        transparent,
        rgba(0, 0, 0, 0.8)
    );
}

.card-content h2 {
    margin: 0 0 10px;
}

.card-content p {
    margin: 0;
    line-height: 1.5;
}
.hruler {
    font-size: 20px;
    display: inline;
}
.card button {
    background-color: #040a47;
    color: white;
    border: 1px solid white;
    padding: 2px 2px;
}
.card button:hover{
    background-color: white;
    color: black;

}